<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalhackatonproject100procent">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalHackatonProject100procent">
        <activity
            android:name=".ScannerActivity"
            android:exported="true" />
        <activity
            android:name=".AchievementsActivity"
            android:exported="true" />
        <activity
            android:name=".InteresActivity"
            android:exported="true" />
        <activity
            android:name=".RegActivity2"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity2"
            android:exported="true" />
        <activity
            android:name=".RetroClient"
            android:exported="true" />
        <activity
            android:name=".RegActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".NewsInfoActivity"
            android:exported="true" />
        <activity
            android:name=".LogActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>